<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <title>{%block title%}VIGS.RU Operator Panel{%endblock%}</title>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Operator Panel</a>

            <div class="nav-collapse collapse">
              <!--<p class="navbar-text pull-right">-->
                <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
              <!--</p>-->
              <ul class="nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/all/">Все магазины</a></li>
                <!--<li><a href="#contact">Contact</a></li>-->
              </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% block container%} {% endblock %}
    <hr>

    <footer>
        <p>&copy; vigs.ru 2012</p>
    </footer>

</div>
<!-- /container -->
</body>
</html>

