{% extends "base.html" %}

{% block container %}

<h2>Магазины</h2>

<table class="table table-striped table-bordered" style="width: 80%;">
<tr>
    <th>Название</th>
    <th>Статус обработки</th>
    <th>Рейтинг</th>
    <th>Число товаров</th>
</tr>
    {% for shop in shop_list %}
<tr>
    <td><a href="/shop/{{ shop.id }}/">{{ shop.name }}</a></td>
    <td>{% if shop.status == None %}Не обработано
        {% elif shop.status == 1%}Обработано, согласились
        {% elif shop.status == 0 %}Обработано, отказались
        {% elif shop.status == 2 %}Обработано, думают{% endif %}</td>
    <td>{{ shop.rating }}</td>
    <td>{{ shop.goods_count }}</td>
</tr>
    {% endfor %}
</table>

{% endblock %}