{% extends "base.html" %}

{% block container %}

<h2>Магазин</h2>

<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Статус обработки</th>
        <th>Ссылка викимарт</th>
        <th>Ссылки яндекс</th>
    </tr>
    <tr>
        <td>{{ shop.name }}</td>
        <td>{% if shop.status == None %}Не обработано
            {% elif shop.status == 1%}Обработано, согласились
            {% elif shop.status == 0 %}Обработано, отказались
            {% elif shop.status == 2 %}Обработано, думают{% endif %}</td>
        <td><a href="{{ shop.wikimartlink }}" target="_blank">{{ shop.wikimartlink }}</a></td>
        <td>
            <a href="http://yandex.ru/yandsearch?text=магазин {{shop.name}}" target="_blank">название</a>,
            <a href="http://yandex.ru/yandsearch?text=магазин {{shop.name}} телефон" target="_blank">телефон</a>,
            <a href="http://yandex.ru/yandsearch?text=магазин {{shop.name}} контакты" target="_blank">контакты</a>,
            <a href="http://yandex.ru/yandsearch?text=магазин {{shop.name}} 495" target="_blank">495</a>,
            <a href="http://yandex.ru/yandsearch?text=магазин {{shop.name}} 499" target="_blank">499</a>
        </td>
    </tr>
</table>

<div class="alert alert-success" style="width: 80%; margin: auto; margin-bottom: 18pt;">
<strong>Текст приветсвия:</strong> Здравствуйте! Меня зовут Михаил. Я представляю торговую площадку ВИГС, которая позволит Вам умножить свои продажи без каких-либо предварительных вложений. С кем я могу поговорить по этому поводу?
</div>

<div class="" style="text-align: center;">
<form action="" method="post">
    <textarea name="comment" rows="5" style="width: 50%;">{{ shop.comment }}</textarea>
    <p>
        <button type="submit" class="btn btn-success" name="button" value="1">Согласились</button>
        <button type="submit" class="btn btn-danger" name="button" value="0">Отказались</button>
        <button type="submit" class="btn btn-primary" name="button" value="2">Думают</button>
        <button type="submit" class="btn" name="button" value="null">Сбросить данные</button>
    </p>
</form>
</div>

<ul class="pager">
  {% if prev %}<li><a href="/shop/{{prev}}/">Предыдущий магазин</a></li>{% endif %}
  {% if next %}<li><a href="/shop/{{next}}/">Следующий магазин</a></li>{% endif %}
</ul>

{% endblock %}